/* Text Styles */

.text-primary {
    color: #28a745;
}

.text-secondary {
    color: #0284d0;
}


/* Button  */

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.9;
}

.bg-primary,
.btn-primary {
    background-color: #28a745;
    color: white;
}

.bg-secondary,
.btn-secondary {
    background-color: #0284d0;
    color: white;
}

.bg-dark,
.btn-dark {
    background-color: #333;
    color: white;
}

.bg-light,
.btn-light {
    background-color: lightgray;
    color: #333;
}

.btn-outline {
    background: transparent;
    border: 1px solid #fff;
}


/* Flex Items */

.flex-items {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.flex-items>div {
    padding: 20px;
}


/* Flex columns */

.flex-columns .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-columns .column {
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
    height: 100%;
}

.flex-columns img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-columns .column-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.flex-columns h2 {
    font-size: 40px;
    font-weight: 100;
}

.flex-columns h4 {
    margin-bottom: 10px;
}

.flex-columns p {
    margin: 20px 0;
}


/* Section header */

.section-header {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-header h2 {
    margin-top: 20px;
    font-size: 40px;
    max-width: 20px 0;
}

.section-padding {
    padding: 20px 20px 40px;
}


/* Flex Grid */

.flex-grid .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.flex-grid .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}